- var descClass = todo.description?"":"hide"

li(data-completed="#{todo.completed}", data-id="#{todo._id}", class="")
  label(for="todo-cb-#{todo._id}") 
    i.fa.fa-check          
  input(id="todo-cb-#{todo._id}", type="checkbox")
  .todo-details-wrapper
    .todo-title-wrap  
      span.todo-title= todo.title
    .todo-desc-wrap
      p.todo-desc(class=descClass)= todo.description
  .todo-buttons
    form(action="/todo/#{todo._id}?_method=DELETE", method='POST', enctype="application/x-www-form-urlencoded")
      button.button.todo-button
        i.fa.fa-trash-o